{% extends 'base.html' %}

{% block title %}
    Pro Subscription
{% endblock title %}

{% block body %}
    <div class="container mt-5" style="padding-top: 60px;">
        <h3>Upgrade to Pro</h3>
        <p>Get access to exclusive features and enhance your productivity with our Pro subscription.</p>

        <h4>Benefits of Pro:</h4>
        <ul>
            <li>Advanced task management features</li>
            <li>Priority support</li>
            <li>Customizable themes</li>
            <li>And much more!</li>
        </ul>

        <h5>Choose your Plan:</h5>
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h5 class="my-0 font-weight-normal">Monthly</h5>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$70 <small class="text-muted">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Access to all features</li>
                        <li>Cancel anytime</li>
                    </ul>
                    <form action="{{ url_for('pay') }}" method="post">
                        <input type="hidden" name="plan" value="monthly">
                        <button type="submit" class="btn btn-lg btn-block btn-light" style="background-color: #e3f2fd;">Subscribe</button>
                    </form>                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h5 class="my-0 font-weight-normal">Yearly</h5>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$700 <small class="text-muted">/yr</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Save 20% </li>
                        <li>Access to all features</li>
                    </ul>
                    <form action="{{ url_for('pay') }}" method="post">
                        <input type="hidden" name="plan" value="monthly">
                        <button type="submit" class="btn btn-lg btn-block btn-light" style="background-color: #e3f2fd;">Subscribe</button>
                    </form>                
                </div>
            </div>
        </div>

        <h4>Payment Methods:</h4>
        <p>We accept all major credit cards and payment methods.</p>
        
        <div>
            <i class="fab fa-cc-visa fa-2x" style="margin-right: 10px;"></i> 
            <i class="fab fa-cc-mastercard fa-2x" style="margin-right: 10px;"></i>
            <i class="fab fa-cc-amex fa-2x" style="margin-right: 10px;"></i>
            <i class="fab fa-cc-discover fa-2x" style="margin-right: 10px;"></i> 
            <i class="fab fa-cc-paypal fa-2x" style="margin-right: 10px;"></i>
        </div>
    </div>
{% endblock body %}
